{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}矩阵-详情页{% endblock title %}
{% block topfiles %}

{% endblock topfiles %}
{% block body %}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部模块分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="#" class="python">业务块1</a></li>
					<li><a href="#" class="javascript">业务块2</a></li>
					<li><a href="#" class="algorithms">业务块3</a></li>
					<li><a href="#" class="machinelearning">业务块4</a></li>
					<li><a href="#" class="operatingsystem">业务块5</a></li>
					<li><a href="#" class="database">业务块6</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="{% url 'home:index' %}">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">链接1</a></li>
				<li class="interval">|</li>
				<li><a href="http://localhost:8000/admin/">链接2</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">业务块1</a>
		<span>></span>
		<a href="#">表详情</a>
	</div>

	<div class="book_detail_con clearfix">

		<div class="book_detail_list f1">
			<h3>{{ table.table_name }}</h3>
			<p>{{ table.desc }}</p>
			<div class="prize_bar">
				<span class="show_pirze">库：<em>{{ table.db_name }}</em></span>
				<span class="show_unit">库类：{{ table.db_type }}</span>
				<span class="show_unit">业务：{{ table.table_type }}</span>
			</div> 
		</div>


						<table class="Modbus">
							<thead>
							<tr>
								<th>Num</th>
								<th>clomun</th>
								<th>Type</th>
								<th>comment</th>                 
							</tr>	
							</thead>
							{% for clo in clos %}
                            <tr>
                                <td class="item1">{{clo.id}}</td>
                                <td class="item2" bgcolor={{clo.level}}>{{clo.clo_name}}</td>
                                <td class="item3">{{clo.field_type}}</td>
                                <td class="item4">{{clo.comment}}</td>
                            </tr> 
							{% endfor %}
                        			
						
						
						</table>	
		

	</div>

	<div class="main_wrap clearfix">
		<div class="r_wrap f1 clearfix">
			<ul class="detail_tab clearfix">
				<li class="active" id="detail">备注</li>
				<li id="write-comment" class="comment" >写备注</li>
			</ul>

			<div class="tab_content">
				<dl id="book_detail">
					<dt>备注：</dt>
					<dd>{#books.detail | safe #}评论不能超过50个字</dd>
				</dl>
				{% for comm in comms %}
				<dl id="book_comment">
					<dt>{{comm.user}}：{{comm.create_time}}</dt>
					<dd>{{comm.comment | safe }}</dd>
				</dl>
				{% endfor %}
			</div>

		</div>
	</div>
	<div class="add_jump"></div>
{% endblock body %}
{% block bottomfiles %}
<script type="text/javascript">


	$('#write-comment').click(function() {
		window.open("{% url 'comment:addcomm' table_id=table.table_id%}")
	})
</script>
    <style type="text/css">
        .comment {
            background-color: #c40000;
            color: #fff;
            margin-left: 10px;
            position: relative;
            z-index: 10;
            display: inline-block;
            width: 78px;
            height: 38px;
            border: 1px solid #c40000;
            font-size: 14px;
            line-height: 38px;
            text-align: center;
        }
    </style>
{% endblock bottomfiles %}
