{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}矩阵-列表{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部域名分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="{% url 'home:list' db_type='hive' db_name='da' page=1 %}" class="model1">Hive数据库</a></li>
					<li><a href="{% url 'home:list' db_type='mysql' db_name='ad' page=1 %}" class="model2">Mysql数据库</a></li>
					<li><a href="{% url 'home:list' db_type='otherdb' db_name='debug' page=1 %}" class="model3">Other数据库</a></li>
					<li><a href="#" class="model4">业务块4</a></li>
					<li><a href="#" class="model5">业务块5</a></li>
					<li><a href="#" class="model6">业务块6</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href={% url 'home:index'%}>首页</a></li>
				<li class="interval">|</li>
				<li><a href="">链接1</a></li>
				<li class="interval">|</li>
				<li><a href="">链接2</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">域{{ db_type }}</a>
		<span>></span>
		<a href="#">库{{ db_name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_book">
				<h3>库名</h3>
				<ul> 
					<li>
						<h4>正在使用</h4>
						<div class="using">{{db_type}}:{{db_name}}</div>
					</li> 					
					{% for db_all_i in db_name_all %}
					<li>
						<h4><a href="{% url 'home:list' db_type=db_type db_name=db_all_i page=1 %}">{{db_all_i}}</a></h4>
					</li> 
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" {% if sort == 'default' %}class="active"{% endif %}>默认</a>
				<a href="#" {% if sort == 'table_name' %}class="active"{% endif %}>表名</a>
				<a href="#" {% if sort == 'hot' %}class="active"{% endif %}>点击</a>
			</div>

			<ul class="book_type_list clearfix">
                {% for table_i in tables_li %}
                    <li>
                        <a href="{#% url 'books:detail' books_id=book.id %#}"></a>
                        <h4><a href="{% url 'home:detail' table_id=table_i.table_id %}">{{ table_i.table_name }}</a></h4>
                        <div class="operate">
                            <span class="prize">{{ table_i.desc }}</apan>
                            <span class="unit">{{ table_i.debug }}</span>
                            <a href="#" class="add_books" title="加入购物车"></a>
                        </div>
                    </li>
				{% endfor %}
			</ul>

			<div class="pagenation">
                {% if tables_li.has_previous %}
				    <a href="/list/{{ db_type }}/{{db_name}}/{{ tables_li.previous_page_number }}/?sort={{ sort }}"><上一页</a>
                {% endif %}
                {% for pindex in pages %}
                    {% if pindex == tables_li.number %}
                        <a href="/list/{{ db_type }}/{{db_name}}/{{ pindex }}/" class="active">{{ pindex }}</a>
                    {% else %}
                        <a href="/list/{{ db_type }}/{{db_name}}/{{ pindex }}/">{{ pindex }}</a>
                    {% endif %}
                {% endfor %}
                {% if tables_li.has_next %}
				    <a href="/list/{{ db_type }}/{{db_name}}/{{ tables_li.next_page_number }}/?sort={{ sort }}">下一页></a>
                {% endif %}
			</div>
		</div>
	</div>
{% endblock body %}
