{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}矩阵-用户中心{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user' %}">· 个人信息</a></li>
				<li><a href="{% url 'user:collection' %}" class="active">· 字典收藏</a></li>
				<li><a href="#">· 常用链接</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">自定义模块1</h3>
				<div class="site_con">
					{% for label1_i in lable1 %}
						<dl>
							<dt>{{label1_i.for_model}}：</dt>
							<dd><a href="{% url 'home:detail' table_id=label1_i.table_id %} ">{{label1_i.table_name}}<a></dd>
						</dl>	
					{% endfor %}					
						
				</div>
				<h3 class="common_title2">自定义模块2</h3>
				<div class="site_con">
					{% for label2_i in lable2 %}
						<dl>
							<dt>{{label2_i.for_model}}：</dt>
							<dd><a href="{% url 'home:detail' table_id=label2_i.table_id %} ">{{label2_i.table_name}}</a></dd>
						</dl>	
					{% endfor %}					
				</div>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">自定义模块3</h3>
				<div class="site_con">
					{% for label3_i in lable3 %}
						<dl>
							<dt>{{label3_i.for_model}}：</dt>
							<dd><a href="{% url 'home:detail' table_id=label3_i.table_id %} ">{{label3_i.table_name}}</a></dd>
						</dl>	
					{% endfor %}		
				</div>
				<h3 class="common_title2">自定义模块4</h3>
				<div class="site_con">
					{% for label4_i in lable4 %}
						<dl>
							<dt>{{label4_i.for_model}}：</dt>
							<dd><a href="{% url 'home:detail' table_id=label4_i.table_id %} ">{{label4_i.table_name}}</a></dd>
						</dl>	
					{% endfor %}											
				</div>
		</div>		
	</div>
{% endblock body %}