{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}矩阵-用户中心{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user' %}">· 个人信息</a></li>
				<li><a href="{% url 'user:collection' %}" class="active">· 字典收藏</a></li>
				<li><a href="#">· 常用链接</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">自定义模块1</h3>
				<div class="site_con">
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
				</div>
				<h3 class="common_title2">自定义模块2</h3>
				<div class="site_con">
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
				</div>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">自定义模块3</h3>
				<div class="site_con">
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
				</div>
				<h3 class="common_title2">自定义模块4</h3>
				<div class="site_con">
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>						
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>
					<dl>
						<dt>我的自定义label：</dt>
						<dd>datest.asadsdas_dsafasd_dafas_ds</dd>
					</dl>											
				</div>
		</div>		
	</div>
{% endblock body %}