{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}矩阵-用户中心{% endblock title %}
{% block topfiles %}
{% endblock topfiles %}
{% block body %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="{% url 'user:user' %}" class="active">· 个人信息</a></li>
				<li><a href="{% url 'user:user' %}" class="active">· 字典收藏</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ request.session.username }}</li>
							{% if userinfo %}
                                <li><span>电子邮箱：</span>{{ userinfo.email }}</li>
                                <li><span>创建时间：</span>{{ userinfo.create_time }}</li>
                            {% else %}
                                <li><span>电子邮箱：</span>无</li>
                                <li><span>创建时间：</span>无</li>
                            {% endif %}
						</ul>
				</div>
				
				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
				    <ul class="books_type_list clearfix">
				        {% for tableh_i in tableh_li %}
				            <li>
				                <h4><a href="#">{{ tableh_i.db_name }}</a></h4>
				                <div class="operate">
				                    <span class="prize">{{ tableh_i.table_name}}{{ tableh_i.desc }}</span>

				                    <a href="#" class="add_books" title="加入购物车"></a>
				                </div>
				            </li>
				        {% endfor %}
				    </ul>
				</div>
		</div>
	</div>
{% endblock body %}
